{% extends 'FrontendContentBundle::_frontendContainer.html.twig' %}

{% block title %}{{ content.title }}{% endblock %}

{% block titlePage %}{{ content.title }}{% endblock %}

{% block meta_title %}
    {% if content.meta %}
       {{content.meta.metaTitle}}
    {% endif %}
{% endblock %}
{% block meta_description %}
    {% if content.meta %}
        {{content.meta.metaDescription}}
    {% endif %}
{% endblock %}
{% block meta_keywords %}
    {% if content.meta %}
        {{content.meta.metaKeywords}}
    {% endif %}
{% endblock %}

{% block breadCrumb %}{% endblock %}

{% block content %}

   <div>{{ content.shortDescription | raw }}</div>
   <div>{{ content.description | raw }}</div>
   
   {% render "FrontendContentBundle:Catalog:productList" with {"alias" : alias }%}
{% endblock %}

{% block sidebar %}
    {% render "FrontendContentBundle:Menu:sidebarMenu" with {"alias" : alias } %}
{% endblock %}
   
{% block right_sidebar %}
    {{ parent() }}
    {% include "FrontendContentBundle:WebItem:_renderListItems.html.twig" with {"web_items" : content.webItems} %}
{% endblock %}