{% extends '::base.html.twig' %}

{% block title %}{{content.title}}{% endblock %}

{% block titlePage %}{{content.title}}{% endblock %}

{% block meta_title %}
    {% if content.meta %}
       {{content.meta.metaTitle}}
    {% endif %}
{% endblock %}
{% block meta_description %}
    {% if content.meta %}
        {{content.meta.metaDescription}}
    {% endif %}
{% endblock %}
{% block meta_keywords %}
    {% if content.meta %}
        {{content.meta.metaKeywords}}
    {% endif %}
{% endblock %}

{% block body %}
   <div id="homepage_map">
       <h1>{{content.title}}</h1>
       {{content.content|raw}}  
   </div>
   {% render "FrontendContentBundle:Menu:lineMenu" with {"alias" : "categories", 'prefix' : 'categories'} %}
{% endblock %}

{% block slider %}
   {% render "FrontendContentBundle:WebItem:renderItem" with {"alias" : "slider"} %}
{% endblock %}

{% block carousel %}
    <div id="homepage_gallery">
        <div id="photo_walk">
            {% render 'FrontendContentBundle:ImageGallery:GalleryOnHomePage' with {'alias' : 'photo_walk', 'size' : '380x200'}%}
        </div>
        <div id="events">
            {% render 'FrontendContentBundle:ImageGallery:GalleryOnHomePage' with {'alias' : 'events', 'size' : '600x200'}%}
        </div>
        <div class="clear"></div>
    </div>
    <div id="spetion_projects">
        <h2>СПЕЦИАЛЬНЫЕ<br/>ПРОЕКТЫ</h2>
            <div id="projects_Carousel" class="carousel slide projects">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="box">
                            <div class="container_spetion_project_img">
                                <img src="images/img1.jpg" alt=""/>
                            </div>  
                            <div class="container_spetion_project_text">
                                <h3>Неизвестный Нижний</h3>
                                <p>айны и секреты города, крошечные 
                                    детали, хранящие дух времени, 
                                    истории горожан</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="container_spetion_project_img">
                                <img src="images/img1.jpg" alt=""/>
                            </div>  
                            <div class="container_spetion_project_text">
                                <h3>Неизвестный Нижний</h3>
                                <p>айны и секреты города, крошечные 
                                    детали, хранящие дух времени, 
                                    истории горожан</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="container_spetion_project_img">
                                <img src="images/img1.jpg" alt=""/>
                            </div>  
                            <div class="container_spetion_project_text">
                                <h3>Неизвестный Нижний</h3>
                                <p>айны и секреты города, крошечные 
                                    детали, хранящие дух времени, 
                                    истории горожан</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box">
                            <div class="container_spetion_project_img">
                                <img src="images/img1.jpg" alt=""/>
                            </div>  
                            <div class="container_spetion_project_text">
                                <h3>Неизвестный Нижний</h3>
                                <p>айны и секреты города, крошечные 
                                    детали, хранящие дух времени, 
                                    истории горожан</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="container_spetion_project_img">
                                <img src="images/img1.jpg" alt=""/>
                            </div>  
                            <div class="container_spetion_project_text">
                                <h3>Неизвестный Нижний</h3>
                                <p>айны и секреты города, крошечные 
                                    детали, хранящие дух времени, 
                                    истории горожан</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="container_spetion_project_img">
                                <img src="images/img1.jpg" alt=""/>
                            </div>  
                            <div class="container_spetion_project_text">
                                <h3>Неизвестный Нижний</h3>
                                <p>айны и секреты города, крошечные 
                                    детали, хранящие дух времени, 
                                    истории горожан</p>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control left" href="#projects_Carousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#projects_Carousel" data-slide="next">&rsaquo;</a>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}

{% block news_homepage %}
    <div id="block_homepage_news">
        <h2>НОВОСТИ</h2>
        <div class="span4">
            <h3>МАСЛЕНИЧНЫЙ РАЗГУЛЯЙ В НИЖНЕМ НОВГОРОДЕ И ОБЛАСТИ!</h3>
            <p>Испокон веков на Руси было принято провожать зиму и встречать весну народными гуляньями - празднованием Масленицы! Мы подготовили для вас несколько вариантов </p>
        </div>
        <div class="span4">
            <h3>МАСЛЕНИЧНЫЙ РАЗГУЛЯЙ В НИЖНЕМ НОВГОРОДЕ И ОБЛАСТИ!</h3>
            <p>Испокон веков на Руси было принято провожать зиму и встречать весну народными гуляньями - празднованием Масленицы! Мы подготовили для вас несколько вариантов </p>
        </div>
        <div class="span4">
            <h3>МАСЛЕНИЧНЫЙ РАЗГУЛЯЙ В НИЖНЕМ НОВГОРОДЕ И ОБЛАСТИ!</h3>
            <p>Испокон веков на Руси было принято провожать зиму и встречать весну народными гуляньями - празднованием Масленицы! Мы подготовили для вас несколько вариантов </p>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}