{% extends 'FrontendContentBundle::_frontendContainerWithoutLeftMenu.html.twig' %}
{% block title %}{% trans from 'content'%}Reviews{% endtrans %}{% endblock %}

{% block titlePage %}{% trans from 'content'%}Reviews{% endtrans %}{% endblock %}

{% block meta_title %}
    {% trans from 'content'%}Reviews{% endtrans %}
{% endblock %}
{% block meta_description %}
    {% trans from 'content'%}Reviews{% endtrans %}
{% endblock %}
{% block meta_keywords %}
    {% trans from 'content'%}Reviews{% endtrans %}
{% endblock %}

{% block breadCrumb %}
    {% render "FrontendContentBundle:Menu:breadCrumb" with {"alias" : 'reviews' } %}
{% endblock %}  
    
{% block content %}
    <div id="news">
        <p style="text-align: right">
            <a class="btn btn-NNWelcome" href="#reviewModal" role="button" data-toggle="modal"><i class="icon-comment icon-white"></i> {% trans from "content" %}Write a review{% endtrans %}</a>
        </p>
        {% if pagination|length > 0 %}
            <div class="couunt_results">{% trans from 'content' %}In all:{% endtrans %} <span>{{param.totalCount}}</span></div>
        <ul class="last_news">
            {% for item in pagination %}
                <li>
                    <div class="data_publish">{{ item.created|date("d.m.Y") }}</div>
                    <h3 class="title_news">{{item.user}}</h3>
                    <div class="anons">
                        {{ item.review|raw }}
                         <div class="clear"></div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        
        <div class="pagination">
            {{ knp_pagination_render(pagination) }}
        </div>
        {% endif %}
        <div class="clear"></div>
    </div>
    {% render "FrontendContentBundle:Review:NewReview"%}
{% endblock %}